.main {
  z-index: 9;
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100vh;
    background: linear-gradient(transparent, rgba(12, 1, 51, 0.774));
    z-index: -1;
  }
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    background: url("https://cdn.pixabay.com/photo/2017/11/07/20/43/christmas-tree-2928142_1280.jpg")
      no-repeat center / cover;
    // filter: blur(3px);
    z-index: -1;
  }
  input,
  button {
    outline: none;
    border-radius: 5px;
  }
  table {
    tr,
    th,
    td {
      padding: 8px 12px;
      border: 1px solid #ccc;
    }
  }
}
